.form-field {
  background-color: var(--main-gray-color);
  height: 60px;
  width: 300px;
  margin-bottom: 30px;
  position: relative;

  &__label {
    font-size: 13px;
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  &__input {
    height: 100%;
    width: 100%;
    background-color: var(--main-gray-color);
    border: none;
    outline-color: var(--main-green-color);
    font-size: 16px;
    padding-left: 10px;
    padding-top: 24px;
    border-bottom: 1px solid var(--main-green-color);

    &:invalid {
      border-bottom-color: var(--main-red-color);
    }
  }

  &__error {
    color: var(--main-red-color);
    padding: 5px 5px 5px 10px;
    font-size: 13px;
  }
}
