<div class="form-field">
  <span class="form-field__label">{{label}}</span>
  {{{input}}}
  <div class="form-field__error">
    {{#if errorText}}
      <span>{{errorText}}</span>
    {{/if}}
  </div>
</div>
