<div class="change-password-modal-modal">
  <form class="change-password-modal__form">
    <div>
      {{#each fields}}
        {{{this}}}
      {{/each}}
    </div>
    {{{submit}}}
  </form>
</div>
