<div class="change-personal-data-modal">
  <form class="change-personal-data-modal__form">
    <div class="change-personal-data-modal__fields">
      {{#each fields}}
        {{{this}}}
      {{/each}}
    </div>
    {{{submit}}}
  </form>
</div>
