<div class="contact">
  {{{avatar}}}
  <div class="contact__content">
    <h3 class="contact__name">{{name}}</h3>
    <span class="contact__message">{{message}}</span>
    <span class="contact__time">{{time}}</span>
  </div>
</div>
